<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.artsyapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArtsyApp">
        <activity
            android:name=".Obrad6"
            android:exported="false" />
        <activity
            android:name=".Obrad5"
            android:exported="false" />
        <activity
            android:name=".Obrad4"
            android:exported="false" />
        <activity
            android:name=".Obrad3"
            android:exported="false" />
        <activity
            android:name=".Obrad2"
            android:exported="false" />
        <activity
            android:name=".Obrad1"
            android:exported="false" />
        <activity
            android:name=".Obrav6"
            android:exported="false" />
        <activity
            android:name=".Obrav5"
            android:exported="false" />
        <activity
            android:name=".Obrav3"
            android:exported="false" />
        <activity
            android:name=".Obrav4"
            android:exported="false" />
        <activity
            android:name=".Obrav2"
            android:exported="false" />
        <activity
            android:name=".Obrav1"
            android:exported="false" />
        <activity
            android:name=".Obral6"
            android:exported="false" />
        <activity
            android:name=".Obral5"
            android:exported="false" />
        <activity
            android:name=".Obral3"
            android:exported="false" />
        <activity
            android:name=".Obral4"
            android:exported="false" />
        <activity
            android:name=".Obral2"
            android:exported="false" />
        <activity
            android:name=".Obral1"
            android:exported="false" />
        <activity
            android:name=".Obrap6"
            android:exported="false" />
        <activity
            android:name=".Obrap5"
            android:exported="false" />
        <activity
            android:name=".Obrap4"
            android:exported="false" />
        <activity
            android:name=".Obrap3"
            android:exported="false" />
        <activity
            android:name=".Obrap2"
            android:exported="false" />
        <activity
            android:name=".Obrap1"
            android:exported="false" />
        <activity
            android:name=".Obraf6"
            android:exported="false"
            android:label="@string/title_activity_obraf6" />
        <activity
            android:name=".Obraf5"
            android:exported="false" />
        <activity
            android:name=".Obraf4"
            android:exported="false" />
        <activity
            android:name=".Obraf3"
            android:exported="false" />
        <activity
            android:name=".Obraf2"
            android:exported="false" />
        <activity
            android:name=".Obraf1"
            android:exported="false" />
        <activity
            android:name=".ObrasLeonardo"
            android:exported="false" />
        <activity
            android:name=".ObrasDiego"
            android:exported="false" />
        <activity
            android:name=".ObrasFrancisco"
            android:exported="false" />
        <activity
            android:name=".ObrasVincent"
            android:exported="false" />
        <activity
            android:name=".ObrasPablo"
            android:exported="false" />
        <activity
            android:name=".ObrasFrida"
            android:exported="false" />
        <activity
            android:name=".Pintores"
            android:exported="false" />
        <activity
            android:name=".obrasFrida"
            android:exported="false" />
        <activity
            android:name=".Pintor"
            android:exported="false" />
        <activity
            android:name=".PintoresFamosos"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>